# استبعاد ملفات الفيديو
*.mp4
*.mkv
*.avi
*.mov
*.flv
*.wmv
*.webm

# استبعاد ملفات الصوت
*.mp3
*.wav
*.flac
*.aac
*.ogg
*.wma
*.m4a

# استبعاد ملفات PDF
*.pdf

# استبعاد مجلدات تحتوي على ميديا
/media/
